aiohttp==2.2.5
alabaster==0.7.10
appdirs==1.4.0
appnope==0.1.0
argon2-cffi==16.3.0
asn1crypto==0.22.0
astroid==1.5.3
async-timeout==1.4.0
asyncio==3.4.3
autoflake==0.6.6
autopep8==1.3.2
Babel==2.4.0
bandit==1.4.0
bcrypt==3.1.3
beautifulsoup4==4.6.0
bleach==1.5.0
bs4==0.0.1
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.6
cmakelint==1.3.4.1
coala==0.11.0
coala-bears==0.11.1
coala-utils==0.6.6
colorama==0.3.9
colorlog==2.10.0
configparser==3.5.0
contextlib2==0.5.5
CouchDB==1.1
coverage==4.4.1
coveralls==1.2.0
cppclean==0.12
cpplint==1.3.0
cryptography==2.0
cssselect==1.0.1
Cython==0.25.2
decorator==4.1.2
dennis==0.9
dependency-management==0.4.0
Django==1.11.3
django-appconf==1.0.2
django-braces==1.11.0
django-cacheops==3.2.1
django-cors-headers==2.1.0
django-debug-toolbar==1.8
django-debug-toolbar-line-profiler==0.6.1
django-extensions==1.8.1
django-formtools==2.0
django-maintenancemode==0.11.2
django-oauth-toolkit==0.12.0
django-pipeline==1.6.13
django-redis-cache==1.7.1
django-redis-sessions==0.5.6
django-requestlogging==1.0.4
django-simple-history==1.9.0
django-widget-tweaks==1.4.1
djangorestframework==3.6.3
docopt==0.6.2
docutils==0.13.1
dropbox==8.5.0
entrypoints==0.2.3
eradicate==0.1.6
Fabric3==1.13.1.post1
Flask==0.12.2
Flask-Login==0.4.0
FormEncode==1.3.1
funcy==1.8
future==0.16.0
futures==3.1.1
gcloud==0.17.0
geocoder==1.22.5
gitdb2==2.0.3
GitPython==2.1.7
googleapis-common-protos==1.5.2
GoogleScraper==0.2.1
gssapi==1.2.0
guess-language-spirit==0.5.3
gunicorn==19.7.1
hiredis==0.2.0
html-linter==0.3.0
html5lib==0.9999999
HTMLParser==0.0.2
httplib2==0.10.3
icalendar==3.11.5
idna==2.5
imagesize==0.7.1
IPy==0.83
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.3
isort==4.2.15
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jws==0.1.3
Keras==2.0.8
Kivy==1.10.0
Kivy-Garden==0.1.4
lazy-object-proxy==1.3.1
ldap3==2.2.4
libclang-py3==3.4.0
line-profiler==2.0
lxml==3.8.0
mando==0.3.3
Markdown==2.6.8
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.7.4
multidict==3.2.0
munkres3==1.0.5.5
mypy-lang==0.4.6
mysql-connector==2.1.6
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.5
nose==1.3.7
notebook==5.2.0
numpy==1.13.1
oauth==1.0.1
oauth2client==3.0.0
oauthlib==2.0.1
olefile==0.44
packaging==16.8
pandocfilters==1.4.2
paramiko==2.2.1
parso==0.1.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
Pmw==2.0.1
polib==1.0.8
prompt-toolkit==1.0.15
proselint==0.7.0
protobuf==3.3.0
psycopg2==2.7.1
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.2.2
pyasn1-modules==0.0.9
pycodestyle==2.3.1
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.4.3
PyDispatcher==2.0.5
pydocstyle==1.1.1
pyflakes==1.4.0
Pygments==2.2.0
pylint==1.7.2
pymongo==3.5.1
PyMySQL==0.7.11
PyNaCl==1.1.2
pyparsing==2.1.10
PyPrint==0.2.6
pyreadline==2.1
Pyrebase==3.0.27
pyroma==2.2
pysftp==0.2.9
pytest==3.2.2
pytest-cov==2.5.1
python-dateutil==2.6.1
python-jwt==2.0.1
python-magic==0.4.13
pytube==6.2.2
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
radon==1.4.0
ratelim==0.1.6
raven==6.1.0
redis==2.10.5
reportlab==3.4.0
requests==2.18.1
requests-oauthlib==0.8.0
requests-toolbelt==0.7.0
restructuredtext-lint==1.0.1
rsa==3.4.2
rstcheck==2.2
safety==0.5.1
sarge==0.1.4
scipy==1.0.0
scspell3k==2.1
selenium==3.4.3
simplegeneric==0.8.1
six==1.11.0
smmap2==2.0.3
snowballstemmer==1.2.1
Sphinx==1.4.9
sphinx-bootstrap-theme==0.5.3
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.1.14
SQLObject==3.4.0
sqlparse==0.2.3
stevedore==1.27.1
template-remover==0.1.9
tensorflow==1.3.0
tensorflow-tensorboard==0.1.8
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
tornado==4.5.2
tqdm==4.14.0
traitlets==4.3.2
twitter==1.17.1
UniCurses==1.2
unidiff==0.5.4
urllib3==1.21.1
virtualenv==15.1.0
vulture==0.10
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.6
wrapt==1.10.11
wxPython==4.0.0b1
yamllint==1.6.1
yapf==0.14.0
yarl==0.12.0
